<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="provider" value="SqlServer"/>
		<add key="expireTime" value="24"/>
		<add key="secret" value="ETQYz#bO)]KU.:tyk3@CSQ@LywJ\u?W'BjkUW]aPC)ULWJi!Xk5lw/@3.reoU1i,tyJ9|)EfV?-S6'|+Ww4)k?kId-\H\#1C:7..lghXMT330kF6S@ppll-qUb=cDr}.0ufDA[S.P\)}CMiU#8}WX-O4;]?I'PA1q6st9XV@aye,C?.q5ZeBpa+ItK-3J|6HpKoB=yj0t!-.+QIZ(Y,sE:8*:-6Hrq7upD1puR#7:]T7I/Ryr,01|++@fZ96O=,E7xbw" />
		<add key="FrontEndUri" value=""/>

		<add key="Email" value="gym@gmail.com"/>
		<add key="userName" value="97ba848aa21e8b"/>
		<add key="password" value="3abb6de05036c8"/>
		<add key="host" value="sandbox.smtp.mailtrap.io"/>
		<add key="port" value="2525"/>
		<add key="EnableSSL" value="true"/>
	</appSettings>

	<connectionStrings>
		<add name="SqlServer" connectionString="Server=127.0.0.1,1433;Database=gym;User ID=sa;Password=1q2w3e4r@#$;TrustServerCertificate=true"/>
	</connectionStrings>
</configuration>
